
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider Management Center</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/website/manager/">Healthcare</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/website/manager/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Provider
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/website/provider/add/">Add Provider</a></li>
          <li><a href="/website/provider/view/">View Provider</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Staff
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/website/staff/add/">Add Staff</a></li>
          <li><a href="/website/staff/view/">Manage Staff</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Patient
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/website/patient/add/">Add Patient</a></li>
            <li><a href="/website/patient/view/">View Patients</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Claim
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/website/claim/manage/view">Assign Claim</a></li>


        </ul>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/website/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
    </nav><br><br>
    <center><img src="{% static 'images/staff.png' %}" height="100" width="100">
    <h2>Provider Management Center</h2>
    <td><h4> <a href="{% url 'create-provider' %}"> Add Provider Details </a></h4></td>

    </center>
    <div class='col-md-4 text-center'></div>
    <div class='col-md-4'>
    {% for Provider in object_list %}
     <table class="table table-striped table-responsive">
         <tr>
            <td width="60%">{{ Provider.providername }} </td>
            <td width="20%" align="right"><a href="{% url 'update-provider' Provider.providerid %}">Edit</a></td>
            <td width="20%" align="right"><a href="{% url 'delete-provider' Provider.providerid %}">Delete</a></td>
         </tr>
     </table>
    {% endfor %}
    </div>
</body>
</html>